/*

@media (min-width: 550px) {
    a.navbar-brand.grande{
        font-size: 80px;
        line-height: 80px;
    }
}
@media (max-width: 410px) {
    a.navbar-brand.grande{
        font-size: 30px;
        line-height: 80px;
    }
}
*/

a.boton-grande.mesa{
    width: 115px;
    color: white;
    font-family: 'bebas_neuebold';
    margin: 2px 0px !important;
    border: none;
    padding: 0px;
    height: 130px;
}
a.boton-grande.mesa h1,
a.boton-grande.mesa h2,
a.boton-grande.mesa h3,
a.boton-grande.mesa h4{
    color: white;
}

input.readonly.blanca{
    background-color: white;
}

table.etiquetas-resumen{
    list-style: none;
}

table.etiquetas-resumen{
    margin-top: 2px;
}
table.etiquetas-resumen h1{
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: gray;
    display: inline-block;
}

table.etiquetas-resumen h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: rgb(173, 173, 173);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

div#pedido,
div.sub-menu-comidas{
    font-family: 'bebas_neuebold';
    margin-bottom: 8px;
}

img.button-loading{
    width: 30px;
    margin-top: -5px;
}

button.disabled, button.disabled:hover, button.disabled:visited, button.disabled:active, button.disabled:focus{
    background-color: #403f3f !important;
    border: solid thin #403f3f !important;
}
button.ocupado, button.ocupado:hover, button.ocupado:visited, button.ocupado:active, button.ocupado:focus{
    background-color: red !important;
    border: solid thin red !important;
}

div.sub-menu-comidas>div.panel-collapse{
    background-color: white;
    border-right: solid thin #d4d4d4;
    border-left: solid thin #d4d4d4;
    border-bottom: solid thin #d4d4d4;
    padding: 2px 0px;
}

div.sub-menu-comidas>div.panel-collapse>form>div>h3,div._0.ingredientes > h3, div.contenedor-adicionales>h3,.h3-ad-in{
    font-size: 24px;
    color: #5cb85c;
    margin: 8px 0px 4px 0px;
    background-color: #dcf7dc;
}
div.sub-menu-comidas>div.panel-collapse>form>div>a.btn,
div#pedido>div.botones-cancelar-pagar>div>button,
div#pedido>div.botones-cancelar-pagar>div>a,
form#form-pagar>input,
a#pagar-pedido,
a.imprimir,
div.sub-menu-comidas>div.panel-collapse>form>div>button{
    font-size: 24px;
}
div.sub-menu-comidas>div.panel-collapse>form>div>select,
div.sub-menu-comidas>div.panel-collapse>form>div>label.checkbox-inline:not([class*="adicional"]),
div.sub-menu-comidas>div.panel-collapse>form>div>select>option{
    font-size: 24px;
    color: #737373;
}
div.sub-menu-comidas>div.panel-collapse>form>div>select{
    padding: 0;
}
div.sub-menu-comidas>div.panel-collapse>form>div>label>input[type='radio'],
div.sub-menu-comidas>div.panel-collapse>form>div>label>input[type='checkbox']{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.8); /* IE */
    -moz-transform: scale(1.8); /* FF */
    -webkit-transform: scale(1.8); /* Safari and Chrome */
    -o-transform: scale(1.8); /* Opera */
    padding: 10px;
    margin-top: 15px;
    margin-right: 2px;
}

div.sub-menu-comidas>div.panel-collapse>form>div>label{
    margin-right: 0px;
    margin-left: 0px;
}

div.sub-menu-comidas select.sabor-comida{
    width: 75%;
    margin: auto;
}
div.sub-menu-comidas a.agregar-orden{
    margin-top: 8px;
    margin-bottom: 8px;
}

div.sub-menu-comidas>a.titulo{
    font-size: 28px;
    color: #696969;
    cursor: default;
    background-color: #e6e6e6;
}

div.sub-menu-comidas>a:not(.titulo){
    font-size: 20px;
    color: #696969;
    cursor: default;
    background-color: #fff;
}

div.pedido{

}

div.pedido>div>button.descripcion{
    width: 90%;
}
div.pedido>div>button.sumar-restar{
    width: 5%;
}
div.pedido>div{
    margin-bottom: 4px;
}

@media (max-width: 700px) {
    div.pedido>div>button.descripcion{
        width: 80%;
    }
    div.pedido>div>button.sumar-restar{
        width: 10%;
    }
}
@media (max-width: 400px) {
    div.pedido>div>button.descripcion{
        width: 60%;
    }
    div.pedido>div>button.sumar-restar{
        width: 20%;
    }
    div.pedido>div>button.total{
        width: 20%;
    }
}

ul.items_pedido{
    font-family: 'bebas_neuebold';
}
ul.items_pedido>li{
    text-align: left;
    border-left: solid 4px #1b809e;
    margin-bottom: 2px;
    border-radius: 0px;
    padding: 4px;
    padding-bottom: 6px;
}
ul.items_pedido>li.entregado{
    border-left: solid 4px #999999;
}
ul#descuento.items_pedido>li{
    border-left: solid 4px #f0ad4e;
}
ul.items_pedido#total>li{
    border-left: solid 4px #ce4844;
    padding-right: 4px;
}
ul.items_pedido>li>span.producto{
    font-size: 28px;
    margin-right: 4px;
    color: #1b809e;
    line-height: 28px;
}
ul.items_pedido>li.entregado>span.producto{
    color: #707070;
}
ul#descuento.items_pedido>li>span.producto{
    color: #f0ad4e;
}
ul.items_pedido#total>li>span.producto{
    color: #ce4844;
    font-size: 30px;
    line-height: 38px;
    vertical-align: middle;
}
ul.items_pedido>li>span.detalles{
    font-size: 24px;
    margin-right: 4px;
    color: #8c8c8c;
    font-family: 'bebas_neuebold';
    line-height: 24px;
}
ul.items_pedido>li>span.detalles:nth-last-child(2){
    /* margin-right: 160px; */
}
ul.items_pedido>li>span.badge{
    font-size: 24px;
    padding: 3px 16px;
    background-color: #5cb85c;
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-radius: 8px;
}
ul.items_pedido#total>li>span.total{
    background-color: #5cb85c;
    color: white;
    padding: 2px 12px;
    font-size: 32px;
    border-radius: 8px;
    float: right;
    line-height: 32px;
}
/*
@media (min-width: 1200px){
    ul.items_pedido>li{
        padding-bottom: 0px;
    }
    
    ul.items_pedido>li>span.detalles:nth-last-child(2){
        margin-right: 0px;
    }
    
    ul.items_pedido>li>div.btn-group{
        float: right;
    }
}
*/
ul.items_pedido div.btn-group.items{
    position: absolute;
    right: 0px;
}
div.spaceholder-valor-item{
    line-height: 24px; 
    display: inline;
    color: white;
}
div#otros label, label.grande{
    font-size: 30px;
    color: #737373;
    font-family: 'bebas_neuebold';
}
div#otros input[type=radio], div#otros input[type=checkbox], label.grande>input{
    -ms-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -o-transform: scale(1.8);
    padding: 10px;
    margin-top: 15px;
    margin-right: 10px;
}
/*
ul.items_pedido div.btn-group.items{
    right: 4px;
    bottom: 4px;
}
@media (min-width: 1200px){
    ul.items_pedido div.btn-group.items{
        position: absolute;
        right: 4px;
        bottom: 4px;
    }
}
*/
ul.items_pedido>li>div.btn-group.items>span, ul.items_pedido>li>div>div.btn-group.items>span{
    font-size: 24px;
    line-height: 20px;
    padding: 4px 6px;
}
ul.items_pedido#descuento>li>div.btn-group>span,
ul.items_pedido#total>li>div.btn-group>span{
    font-size: 32px;
    line-height: 28px;
    padding: 4px 8px;
    min-width: 50px;
}

h3.popover-title{
    font-family: 'bebas_neuebold';
    font-size: 25px;
    color: #696969;
    text-align: center;
}

div.popover-content div.confirmation-buttons.text-center{
    margin: auto;
}
div.popover-content div.confirmation-buttons a.btn, .boton-agregar-producto{
    font-family: 'bebas_neuebold';
    font-size: 25px;
}

.navbar-default .navbar-nav>li>a {

}

.boton-grande.mesa>h2{
    font-family: 'bebas_neuebold';
}
/*
.navbar-right {
    display: none;
}
@media (min-width: 768px){
    .navbar-toggle {
        display: initial;
    }
    .navbar-header {
        float: initial;
    }
}

@media (min-width: 870px){
    .navbar-toggle {
        display: none;
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
        display: block;
    }
    .navbar-header {
        float: left;
    }
}
*/


/*
@media (min-width: 768px){
    .navbar-header {
        float: initial;
    }
}
@media (min-width: 870px){
    .navbar-header {
        float: left;
    }
}
@media (max-width: 870px){
    .navbar-right {
        display: none;
    }
}
@media (min-width: 870px){
    .navbar-right {
        float: right!important;
        margin-right: -15px;
        display: block;
    }
}
*/

div.ing-adic{
    padding-top: 10px;
}
div.ing-adic>div{
    display: inline;
}
div.ing-adic button{
    font-size: 1.5em;
}


ul>li>button.mesa_cambio, ul>li>button.mesa_cambio:hover{
    color: white;
    text-align: center;
}

ul>li>button.mesa_cambio{
    width: 50px;
    height: 50px;
    margin: 2px;
}

ul>li>button.mesa_cambio.mesa_origen{
    background-color: #d9534f;
}

ul>li>button.mesa_cambio.mesa_destino{
    background-color: #5cb85c;
}

ul>li>button.mesa_cambio.mesa_origen.seleccionado{
    background-color: #e71c15;
    color: white;
}

ul>li>button.mesa_cambio.mesa_destino:active{
    background-color: #3bcf3b;
}

ul#mesas_ocupadas_cambiar, ul#mesas_libres_cambiar{
    list-style-type: none;
    padding: 0;
}
ul#mesas_ocupadas_cambiar>li, ul#mesas_libres_cambiar>li{
    display: inline;
    margin: 2px;
}

#FixedDiv { 
    position: fixed; 
    right: 0px;
  }

span.producto-express{
    padding: 0;
    margin-bottom: 4px;
}
span.producto-express>span{
    font-size: 20px;
    color: #616161;
    /*max-width: 145px;*/
    overflow-x: hidden;
}
div#cambio input, input.xl, select.xl, textarea.xl{
    font-family: 'bebas_neuebold';
    font-size: 30px;
    color: #5f5f5f;
    height: 50px;
    margin-bottom: 5px;
    width: 100%;
}
div#cambio .label, label.xl{
    font-family: 'bebas_neuebold';
    font-size: 30px;
    color: #5f5f5f;
    height: 50px;
    margin-bottom: 5px;
    padding-left: 0;;
}

ul>a.usuario{
    
}
h1.titulo>a{
    font-size: 20px;
}

ul>a.usuario,ul>a.usuario:active,ul>a.usuario:visited,ul>a.usuario:hover{
    color: white;
    font-size: 20px;
    font-family: 'bebas_neuebold';
    text-decoration: none;
}
div#usuario-dropdown{
    padding: 12px;
    margin-top: -8px;
}
div#usuario-dropdown>a, div#usuario-dropdown>a:active, div#usuario-dropdown>a:visited, div#usuario-dropdown>a:hover{
    color: #848484;
    font-size: 25px;
    font-family: 'bebas_neuebold';
    display: list-item;
    text-decoration: none;
}

div#hora-programa-cont{
    
}

div#hora-programa-cont input{
    font-family: 'bebas_neuebold';
    font-size: 30px;
    height: 50px;
    text-align: right;

}

div#hora-programa-cont div>span{
    padding: 2px 8px;
}
div#hora-programa-cont span>span{
    font-size: 30px;
}


#hora-programa-cont .bootstrap-datetimepicker-widget .timepicker-hour, 
#hora-programa-cont .bootstrap-datetimepicker-widget .timepicker-minute, 
#hora-programa-cont .bootstrap-datetimepicker-widget .timepicker-second{
    color: #848484;
    font-size: 30px !important;
    font-family: 'bebas_neuebold';
}
#hora-programa-cont .bootstrap-datetimepicker-widget table td span{
    font-size: 30px;
}

#hora-programa-cont .bootstrap-datetimepicker-widget button[data-action]{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-family: 'bebas_neuebold';
}
#hora-programa-cont .table-condensed{
    color: #848484;
    font-size: 30px !important;
    font-family: 'bebas_neuebold';
}

.font.bebas{
    font-family: 'bebas_neuebold';
}

div.ficha.ingrediente{
    display: inline-block;
    border: thin solid dimgray;
    width: 180px;
    padding: 2px;
    text-align: center;
    margin-bottom: 4px;
}
div.ficha.ingrediente>h2{
    font-family: 'bebas_neuebold';
    color: dimgray;
    margin: 0px;
    margin-bottom: 4px;
    font-size: 24px;
}
div.ficha.ingrediente>img{

}
div.ficha.ingrediente>div{
    font-size: 1.5em;
    margin-top: 8px;

}
button.estado, button.estado:hover, button.estado:active, button.estado:visited, button.estado:focus{
    color: #fff;
}
button.estado.estado_1{
    background-color: #5cb85c;
    border: thin solid #4cae4c;
}
button.estado.estado_1:hover{
    background-color: #41a041;
}
button.estado.estado_2{
    background-color: rgb(240, 173, 78);
    border: thin solid #eea236;
}
button.estado.estado_2:hover{
    background-color: rgb(231, 159, 59);
}
ul#total .btn-group,
ul#descuento .btn-group{
    float: right;
}
ul#total>li{
    padding-bottom: 42px;
}
ul.inventario.validacion{
    padding-left: 20px;
}
ul.inventario.validacion>li{
    margin-top: 8px;
}
div.grupo-nombrex {
    writing-mode: tb;
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 4px 0px;
    vertical-align: middle;
    font-size: 16px;
    -webkit-transform: rotate(180deg);
    white-space: nowrap;
    letter-spacing: 1px;
}
div.grupo-nombrexx{
    writing-mode: tb;
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 4px 4px;
    vertical-align: middle;
    font-size: 16px;
    -webkit-transform: rotate(180deg);
    /* letter-spacing: 1px; */
    /* max-width: 100px; */
    font-family: 'robotolight';
    white-space: nowrap;
}
div.grupo-nombre{
    
    background-color: #5cb85c;
    color: white;
    font-size: 18px;
    padding: 0;
    display: inline-block;
    width: 135px;
    max-width: 135px;
    vertical-align: baseline;
    
}
div.ingrediente-grupo-nombre {
    writing-mode: tb;
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 4px 4px;
    font-size: 16px;
    -webkit-transform: rotate(180deg);
    /* letter-spacing: 1px; */
    /* max-width: 100px; */
    font-family: 'robotolight';
    white-space: nowrap;
    margin-left: 8px;
    margin-bottom: -11px;
    margin-right: 1px;
}
div.ingrediente-grupo-nombre.adiciona-grupo{
    margin-right: -2px;
}
.contenedor-adicionales-fraccion div.ingrediente-grupo-nombre.adiciona-grupo{
    margin-bottom: -66px;
}
.vertical-text {
    writing-mode: vertical-rl;
}
.vertical-text span {
    text-orientation: upright;
}

div#obervacionesModal{
    font-family: 'bebas_neuebold';
    font-size: 2em;
}
div#observacionesModal{
    font-family: 'bebas_neuebold';
}
div#observacionesModal input[type=text],
div#observacionesModal textarea{
    font-size: 36px;
    color: #696969;
}
div#observacionesModal input{
    height: 40px;
}
div#observacionesModal input[type=checkbox],
div#observacionesModal input[type=radio]{
    -ms-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -o-transform: scale(1.8);
    padding: 10px;
    margin-top: 15px;
    margin-right: 10px;
    height: 20px;
}
div#observacionesModal textarea{
}
div#observacionesModal label{
    font-size: 34px;
    color: #b3b2b2;
}
div#observacionesModal button{
    font-size: 40px;
}


/* Absolute Center Spinner */
#fullscreen-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#fullscreen-loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    */
    background-color: #ffffff75;
    background-image: url(/images/f.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.toast-message{
    font-size: 2em;
    font-family: 'bebas_neuebold';
}
tr.has-error-cambio input{
    color: #d9534f !important;
}
ul.list-group{
    margin-top: -12px;
}
div.alert[role=alert]{
    display: inline-block;
}

@media (max-width: 767px) {
    div#content-fix{
        padding-right: 0px !important;
    }
    ul>a.usuario{
        padding-right: 0px !important;
    }
}
@media (max-width: 920px) {
    ul>a.usuario.openCuenta span.hidden-xs{
        display: none;
    }
    #usuario-dropdown span.visible-xs-inline{
        display: inline;
    }
}
.navbar-nav{
    margin: 0 !important;
}
textarea#direccion, textarea#observacion, textarea#observacion-mesa, textarea#observacion-domicilio{
    font-family: 'bebas_neuebold';
    width: 100%;
    font-size: 31px;
    height: 57px;
    line-height: 26px;
    color: #8a8a8a;
}
div.row.fraccion{
    display: none;
}
.jconfirm-title{
    /*font-size: 1.5em;*/
}
.jconfirm-content-pane{
    font-size: 20px;
}
.jconfirm-buttons button{
    font-size: 22px !important;
}
h3.adicionales-header{
    cursor: pointer;
    font-size: 30px !important;
}
h3.adicionales-header:not(.showing){
    color: #5cb85c !important;
    border: thin solid #bfd8bf;
}
h3.adicionales-header.showing{
    color: #eea236;
    background-color: #fbe4c3;
}
#cambio select{
    font-size: 30px;
    height: 50px;
    padding: 0 4px;
}
.color-success{
    color:#5cb85c;
}
.bg-success{
    background-color:#5cb85c;
}
i.fa.prefacturado{
    position: absolute;
    margin: 2px 0 0 28px;
}
span.jconfirm-title{
    font-family: 'bebas_neuebold' !important;
}
div.jconfirm-content{
    font-family: 'bebas_neuebold';
}
div.jconfirm-content span.valor{
    font-family: 'bebas_neuebold';
    font-weight: bold;    
    display: inherit;
    text-align: right;
    color: #3c763d;
}
div.jconfirm-content div.img{
    border: thin solid #c5c5c5;
    padding: 4px;
    text-align: center;
}
div.jconfirm-content div.img img{
    max-width: 150px !important;
}
div.jconfirm-content span.detalle{
    font-family: 'bebas_neuebold';
    color: #666666;
}
div.jconfirm-buttons{
    font-family: 'bebas_neuebold';
}

span.comandado{
    border: none;
    cursor: help;
    padding-left: 2px !important;
}
span.comandado.text-danger{
    color: red;
}
span.comandado.text-success{
    color: green;
}
span.comandado:hover,
span.comandado:active,
span.comandado:visited
{
    background-color: white;
    
}
.bloqueado-dia-operativo{
    background-color: #403f3f !important;
    border: none;
    color: white !important;
    cursor: not-allowed;
}
.badge.btn-warning{
    color: #fff !important;
    background-color: #f0ad4e !important;
}