div.panel-collapse.tipo_producto{
    width: calc(100% - 154px);
    /* float: right; */
    position: absolute;
    top: 0;
    left: 152px;
    border-top: thin solid #d4d4d4;
    z-index: 1;
}
button.tipo_producto.titulo:focus{
    outline: none;
}
button.tipo_producto.titulo[aria-expanded=true]{
    background-color: #337ab7 !important;
    color: white;
}
button.tipo_producto.titulo{
    width: 150px;
    display: block;
    white-space: initial;
    line-height: 18px;
    padding: 6px 2px;
    font-size: 20px !important;
    color: #616161;
    background-color: #e6e6e6;
}
div.ingredientes>label, div[class*="adicional"],
span.producto-express span.producto-nombre{
    color: #616161;
    font-size:18px;
}
span.producto-express span.producto-grupo {
    writing-mode: tb;
    -webkit-transform: rotate(180deg);
    padding: 6px 4px;
    margin-left: -16px;
    top: -145px;
}
span.producto-express{
    width: 130px;
    height: 130px;
}
ul.items_pedido>li>span.producto,
ul.items_pedido#total>li>span.producto,
ul.items_pedido>li>span.detalles {
    font-size: 24px;
}
ul.items_pedido>li>span.detalles {
    line-height:0;
}
ul.items_pedido#descuento>li>div.btn-group>span, 
ul.items_pedido#total>li>div.btn-group>span{
    font-size: 28px;
    padding: 2px 4px;
}
ul.items_pedido#total button{
    padding: 2px 4px !important;
}
ul.items_pedido#total button span.fa{
    font-size: 27px !important;
}
.boton-inline-grande,
div#otros label, label.grande {
    font-size: 26px !important;
}
div#otros input[type=radio], div#otros input[type=checkbox], label.grande>input {
    margin-top: 10px;
}
combo {
    width: 200px;
    height: 120px;
}
div#cambio input, input.xl, select.xl, textarea.xl {
    font-size: 28px;
    height: 40px;
}
div#cambio .label, label.xl {
    font-size: 24px;
    padding: 0;
}
#cambio > form > table > tbody > tr > td.label{
    padding-top: 15px;
}