services/php/app/vendor/**
services/php/app/vendor/
services/php/app/storage/framework/cache/**
services/php/app/storage/framework/cache/
services/php/app/storage/framework/sessions/**
services/php/app/storage/framework/sessions/
services/php/app/storage/framework/views/**
services/php/app/storage/framework/views/
services/php/app/storage/logs/**
services/php/app/storage/logs/
services/php/app/composer.lock
services/php/app/storage/framework/
services/php/app/storage/framework/*
services/php/app/storage/framework/**
docker-compose.yml
